This is my first template for the apache web server index.html\n 
this server IP is {{ inventory_hostname }}\n
the server is a {{ ansible_os_family }}\n
and the distro that I am using is {{ ansible_distribution }}\n
and for hackers...\n
the port that I am opening is {{ my_port }}\n 
the port is obvious,,, so f__k off LOL \n
